[project]
	description = static blog site
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sanjay Upadhyay (saneax)
[access "refs/for/refs/*"]
	read = group user/Sanjay Upadhyay (saneax)
	push = group user/Sanjay Upadhyay (saneax)
	label-Code-Review = -2..+2 group user/Sanjay Upadhyay (saneax)
	label-Verified = -1..+1 group user/Sanjay Upadhyay (saneax)
	rebase = group user/Sanjay Upadhyay (saneax)
	removeReviewer = group user/Sanjay Upadhyay (saneax)
	submit = group user/Sanjay Upadhyay (saneax)
[access "refs/heads/*"]
	read = group user/Sanjay Upadhyay (saneax)
	create = group user/Sanjay Upadhyay (saneax)
	push = +force group user/Sanjay Upadhyay (saneax)
	pushMerge = group user/Sanjay Upadhyay (saneax)
[access "refs/tags/*"]
	push = group user/Sanjay Upadhyay (saneax)
	push = +force group user/Sanjay Upadhyay (saneax)
